body {
  font-family: "Sanchez";
  margin: 0;
  background-color: #efeee8;
}
.name {
  color: #cc0200;
  font-size: 48px;
  margin: 48px 0 24px 0;
  text-align: center;
}
.banner {
  border-bottom: 4px solid #bebebe;
  border-top: 4px solid #bebebe;
  margin: 0;
  padding: 24px 0;
  text-align: center;
}
.banner .title {
  color: #bebebe;
  font-size: 28px;
  margin: 0;
}
.blog {
  margin: 48px 0;
}
.blog .title {
  color: #000000;
  font-size: 24px;
  margin: 0 0 0.5rem 0;
}
.blog .text {
  color: #5e5e5e;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 16px 0;
}
.blog .read-more {
  background-color: #cc0200;
  border: none;
  color: #fff;
  font-size: 18px;
  height: 48px;
  padding: 0 16px;
  font-weight: lighter;
}
.skills {
  overflow: auto;
  margin-bottom: 1rem;
}
.skills-title {
  font-size: 30px;
  margin: 0 0 28px 0;
  text-align: center;
}
.card {
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-top: 4px solid #cc0200;
}
.card .header {
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
}
.card .header .title {
  font-size: 18px;
  margin: 0;
}
.card .header .view-more {
  color: #cc0200;
  font-size: 12px;
  text-decoration: none;
}
.card .header .view-more:hover {
  text-decoration: underline;
}
.card .description {
  border-bottom: 2px solid #e0e0e0;
}
.card .header,
.card .description,
.card .list {
  padding: 16px;
}
.card .description .text,
.card .list .text {
  color: #000;
  font-size: 14px;
  margin: 0;
}
.card .list .text {
  margin-bottom: 1rem;
}
.card .list .text:last-child {
  margin-bottom: 0;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 83.33333333333%;
}
@media all and (max-width: 769px) {
  .wrapper {
    width: 100%;
  }
  .blog {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/**
 * Solution starts here
 */
.card,
.card .header,
.card .description,
.card .list {
  box-sizing: border-box;
}

/**
 * Using floats
 */
/*
.column {
  box-sizing: border-box;
  float: left;
  padding: 0 1rem;
  width: 33.33%;
}

@media all and (max-width: 968px) {
  .column {
    margin-bottom: 16px;
    width: 50%;
  }
}

@media all and (max-width: 645px) {
  .column {
    margin-bottom: 16px;
    width: 100%;
  }
}
*/

/**
 * Using inline-block
 */

.column {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 1rem;
  vertical-align: top;
  width: 33.33%;
}

.skills {
  font-size: 0;
}

/* and (min-width: 659px)
*/

@media all and (max-width: 968px) {
  .column {
    margin-bottom: 1rem;
    width: 50%;
  }
}

@media all and (max-width: 645px) {
  .column {
    margin-bottom: 1rem;
    width: 100%;
  }
}

/**
 * Using flexbox
 */
/*
.skills {
  display: flex;
  justify-content: space-evenly;
}
.column {
  box-sizing: border-box;
  padding: 0 1rem;
  width: 33%;
}

@media all and (max-width: 658px) {
  .skills {
    flex-wrap: wrap;
  }
  .column {
    margin-bottom: 1rem;
    width: 100%;
  }
}

@media all and (min-width: 659px) and (max-width: 997px) {
  .skills {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .column {
    margin-bottom: 1rem;
    width: 50%;
  }
}
*/
